/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
  }

  header {
    text-align: center;
    padding: 50px 0;
    background-color: #776B5D;
    color: #F4DFC8;
  }
  
  .header-content {
    position: relative;
  }
  
  .header-content img {
    width: 150px;
    height: auto;
    border-radius: 40%;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .header-content .text {
    padding-top: 80px; 
  }
  
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #F4EAE0;
  }
  
  section {
    margin-bottom: 30px;
  }
  
  h2 {
    font-size: 1.8em;
    margin-bottom: 15px;
  }
  
  .project {
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .project h3 {
    margin-top: 0;
  }
  
  .project p {
    margin-bottom: 0;
  }
  
